@model BuildingManagement.Models.PropertyInfo


@{
    ViewData["Title"] = "Property Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-6">
                <h4>@ViewData["Title"]</h4>
            </div>
            <div class="col-6">
                <div class="breadcrumb float-right active">
                    <a asp-action="Index" class="btn btn-primary">Back to List <i class="fas fa-back"></i></a>

                </div>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="card card-gray">
            <div class="card-header">
                <h3 class="card-title">@ViewData["Title"] Edit</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <form asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="PropId"/>
                            <div class="form-group">
                                <label asp-for="PropNme" class="control-label"></label>
                                <input asp-for="PropNme" class="form-control" />
                                <span asp-validation-for="PropNme" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Phone1" class="control-label"></label>
                                <input asp-for="Phone1" class="form-control" />
                                <span asp-validation-for="Phone1" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Phone2" class="control-label"></label>
                                <input asp-for="Phone2" class="form-control" />
                                <span asp-validation-for="Phone2" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Email" class="control-label"></label>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="City" class="control-label"></label>
                                <input asp-for="City" class="form-control" />
                                <span asp-validation-for="City" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Township" class="control-label"></label>
                                <input asp-for="Township" class="form-control" />
                                <span asp-validation-for="Township" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Addr" class="control-label"></label>
                                <input asp-for="Addr" class="form-control" />
                                <span asp-validation-for="Addr" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="AcreMeasure" class="control-label"></label>
                                <input asp-for="AcreMeasure" class="form-control" />
                                <span asp-validation-for="AcreMeasure" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ResitypId" class="control-label">Resident Type</label>
                                <select asp-for="ResitypId" class="form-control form-select" asp-items="@ViewBag.ResidentTypes">
                                </select>
                                <span asp-validation-for="ResitypId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="BlockCount" class="control-label"></label>
                                <input asp-for="BlockCount" class="form-control" />
                                <span asp-validation-for="BlockCount" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="RoomCount" class="control-label"></label>
                                <input asp-for="RoomCount" class="form-control" />
                                <span asp-validation-for="RoomCount" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ParkingCount" class="control-label"></label>
                                <input asp-for="ParkingCount" class="form-control" />
                                <span asp-validation-for="ParkingCount" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ParkingSizeDesc" class="control-label"></label>
                                <input asp-for="ParkingSizeDesc" class="form-control" />
                                <span asp-validation-for="ParkingSizeDesc" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PoolCount" class="control-label"></label>
                                <input asp-for="PoolCount" class="form-control" />
                                <span asp-validation-for="PoolCount" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PoolSizeDesc" class="control-label"></label>
                                <input asp-for="PoolSizeDesc" class="form-control" />
                                <span asp-validation-for="PoolSizeDesc" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="EstiblishDte" class="control-label"></label>
                                <input type="date" asp-for="EstiblishDte" class="form-control" />
                                <span asp-validation-for="EstiblishDte" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Save" class="btn btn-primary" />
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }


}


