@model BuildingManagement.Models.ChangePwd



@{
    ViewData["Title"] = "User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-6">
                <h4>@ViewData["Title"]</h4>
            </div>
            <div class="col-6">
                <div class="breadcrumb float-right active">
                    <a asp-action="Index" class="btn btn-primary">Back to List <i class="fas fa-back"></i></a>

                </div>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="card card-gray">
            <div class="card-header">
                <h3 class="card-title">@ViewData["Title"] Change Password</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <p>Please take note that the user will be created with default password 'User@123' if there is no password was provided.</p>
                    <div class="col-md-6">
                        <form asp-action="ChangePwd" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="UserId" />
                            <div class="form-group">
                                <label asp-for="UserCde" class="control-label">User Code</label>
                                <input asp-for="UserCde" class="form-control"  readonly/>
                                <span asp-validation-for="UserCde" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="UserNme" class="control-label">User Name</label>
                                <input asp-for="UserNme" class="form-control"  readonly/>
                                <span asp-validation-for="UserNme" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="OldPwd" class="control-label">Current Password</label>
                                <input asp-for="OldPwd" class="form-control" />
                                <span asp-validation-for="OldPwd" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NewPwd" class="control-label"></label>
                                <input asp-for="NewPwd" class="form-control" />
                                <span asp-validation-for="NewPwd" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ConfirmPwd" class="control-label"></label>
                                <input asp-for="ConfirmPwd" class="form-control" />
                                <span asp-validation-for="ConfirmPwd" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Save" class="btn btn-primary" />
                            </div>
                        </form>
                          <form asp-controller="Users" asp-action="ResetPwd" method="post">
                            <input type="hidden" name="id" value="@Model.UserId" />
                            <button type="submit" value="Reset Password" onclick="confirmReset()" class="btn btn-primary" style="background-color :red; color :white">Reset Password to default</button>
                          </form>


                    </div>
                </div>
            </div>
        </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        function confirmReset() {
            if (confirm("Are you sure you want to reset the pasword to default?")) {
                document.getElementById("resetPasswordForm").submit();
            }
        }
    </script>
}
